@import 'bootstrap';
@import 'font-awesome';
@import 'fonts';
@import 'message';
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700);

$color-red-light: #e74c3c;
$color-white: #fafafa;
$color-midnightblue: #2c3e50;
$color-emerald-green: #2ecc71;
$color-nephritis-green: #27ae60;
$color-black: #3A3A3A;

$banner-size-height: 80px;

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: $color-white;
  color: $color-black;
  font-size: 16px;
  font-family: 'Droid Sans', sans-serif;
}

.centeredText {
  text-align: center;
}

.greentext {
  color: $color-emerald-green;
}


.nav-tabs > li > a .logout, .nav-tabs > li > a:hover .logout, .nav-tabs > li > a:focus .logout{
  color: #00b3ee;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: $color-red-light;
  border-radius: 8px 8px 0 0;
  color: $color-white;
  font-weight: bold;
}

.margintop {
  margin-top: 1em;
}

#header {
  height: $banner-size-height;
  background-color: $color-midnightblue;
  color: $color-white;
  font-size: 2em;
  text-align: left;
  font-family: 'Roboto Mono', monospace;
  img {
    margin-left: 10px;
    height: $banner-size-height;
    display: inline-block;
  }
}

.form-signin {
  input {
    margin-bottom: 5px;
  }
}

.laat {
  color: $color-red-light;
}
.niet_laat {
  color: $color-nephritis-green;
}

span.badge {
  font-size: 1.2em;
  a:link {
    color: $color-white;
  }
  a:visited {
    color: $color-white;
  }
  a:hover {
    color: $color-emerald-green;
  }
  a:active {
    color: $color-red-light;
  }
}

span.display{
  font-weight: bold;
  display: inline-block;
  min-width: 200px;
  text-decoration: underline;
}

.infobox{
  color: $color-white;
  background: $color-midnightblue;
  border-radius: 20px;
}